#confluence_links {
    max-height: 80%;
}

.highlighted {
    background-color: rgb(101, 166, 55);
    color: white;
    border-radius: 5px;
}

.highlighted a {
    color: white;
    text-decoration: underline;

}

#confluence_links div {
    padding: 5px 10px;
}

#splunk-query-finder-logo {
    position: relative;
    top: -1px;
    height: 25px;
    padding-right: 5px
}
